
@import url("https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css");
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
@import url('https://webfontworld.github.io/utoImageHand/UtoImageHand.css');

@font-face {
  font-family: "Tungsten";
  src: local("Tungsten Narrow Black"), local("Tungsten-Narrow-Black"),
    url("../fonts/TungstenNarrow-Black.woff2") format("woff2"),
    url("../fonts/TungstenNarrow-Black.woff") format("woff"),
    url("../fonts/TungstenNarrow-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tungsten-Semibold";
  src: local("Tungsten-Semibold"), url("../fonts/Tungsten-Semibold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "tungstencompbold";
  src: local("tungstencompbold"), url("../fonts/tungstencompbold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "tungstenbook";
  src: local("tungstenbook"), url("../fonts/tungstenbook.ttf") format("truetype");
  font-style: normal;
}