@charset "UTF-8";
.scrollTop {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 40px;
  z-index: 1000;
  font-weight: 800;
  color: #fff;
}

.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section1 {
  background: #000;
  height: 30000px;
}

.sec1_text1 {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 0;
  text-align: center;
  z-index: 2;
  width: 69vw;
  align-items: center;
  justify-content: center;
}
.sec1_text1 span {
  display: inline-block;
  font-size: 20vw;
}
.sec1_text1 span em {
  display: inline-block;
  color: #fff;
}
.sec1_text1 span i {
  display: inline-block;
  color: #fff;
}
.sec1_text1 p {
  font-family: "GmarketSans";
  bottom: 15%;
  right: -4%;
  position: absolute;
  font-size: 1vw;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: transparent;
  transition: all 0.3s ease-out;
}
.sec1_text1 p::before {
  content: "우리가 해야 할 일은 끊임없이 호기심을 갖고, 새로운 생각을 시험해보고 새로운 인상을 받는 것이다. ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  border-right: 2px solid #fff;
  -webkit-animation: typing 1s steps(31);
          animation: typing 1s steps(31);
}
@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.sec1_video1 {
  z-index: 1;
  width: 100%;
  height: 10%;
  overflow: hidden;
}
.sec1_video1 .vid {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec1_text2 {
  width: 100vw;
  height: 100%;
}
.sec1_text2 .text2_camera {
  width: 100%;
  height: 100%;
  position: fixed;
}
.sec1_text2 .text2_camera img {
  width: 100%;
  height: 100%;
}
.sec1_text2 .text2_camera .text2_frame {
  position: absolute;
  width: 10.3vw;
  height: 14.5vh;
  top: 50%;
  left: 50%;
  background-image: url(../img/sec1bg1_tv2.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(70%) blur(0.3px);
  opacity: 1;
  border-radius: 5%;
  transform: translate(-4.7vw, 143%) rotateZ(-0.4deg);
  overflow: hidden;
}
.sec1_text2 .text2_camera .text2_frame::after {
  content: url(../img/noise1.gif);
  opacity: 0.07;
}
.sec1_text2 .text2_camera .text2_frame .text2_ment {
  position: absolute;
  width: 10vw;
  height: 500px;
  top: 50%;
  left: 50%;
  text-align: center;
}
.sec1_text2 .text2_camera .text2_frame .text2_ment h2 {
  font-size: 6px;
  color: rgb(255, 255, 255);
  font-family: var(--font-sub1);
  line-height: 1.8;
}
.sec1_text2 .text2_camera .text2_frame .text2_ment i {
  font-family: "UtoImageHand";
  margin-right: 5px;
  float: right;
  font-size: 18px;
}

.sec1_text3 {
  width: 100vw;
  z-index: 100;
  transform-style: preserve-3d;
  transform: perspective(60rem);
}
.sec1_text3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec1_text3 .text3_link {
  transition: all 0.5s ease-in-out;
  position: absolute;
  font-size: 10vw;
  top: 5vh;
  color: #fff;
  line-height: 0.8;
}
.sec1_text3 .text3_link .Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
  width: 100vw;
  display: flex;
  position: relative;
  font-size: 10vw;
  text-indent: 1vw;
}
.sec1_text3 .text3_link .Menu-list-item .Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #fff;
  top: 0;
  height: 49%;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.sec1_text3 .text3_link .Menu-list-item .Mask span {
  display: block;
}
.sec1_text3 .text3_link .Menu-list-item .Mask + .Mask {
  top: 48.9%;
  height: 51.1%;
}
.sec1_text3 .text3_link .Menu-list-item .Mask + .Mask span {
  transform: translateY(-49%);
}
.sec1_text3 .text3_link .Menu-list-item p {
  transition: all 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  opacity: 0;
  font-family: "GmarketSans";
  font-weight: 300;
  font-size: 1.6vw;
  position: absolute;
  bottom: 22px;
  right: 1vw;
  color: #fff;
}
.sec1_text3 .text3_link .Menu-list-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.sec1_text3 .text3_link .Menu-list-item:hover .Mask {
  color: #d33d00;
  transform: skewX(15deg) translateX(3.3vw);
}
.sec1_text3 .text3_link .Menu-list-item:hover .Mask + .Mask {
  transform: skewX(15deg) translateX(2vw);
}
.sec1_text3 .text3_link .Menu-list-item:hover::before {
  transform: scale(1);
}
.sec1_text3 .text3_link .Menu-list-item:hover p {
  opacity: 1;
}
.sec1_text3 .text3_link .Menu-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 2px;
  border-radius: 4px;
  margin-top: -2px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(0);
  transition: transform 1s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 1;
}

.sec1_text4 {
  width: 100vw;
  text-align: center;
  font-size: 0;
  background: url("../img/noise1.gif") center center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  filter: blur(1px);
}
.sec1_text4 .t4__title {
  text-align: left;
  width: 250vw;
  font-size: 35vw;
  line-height: 0.75;
  color: #d33d00;
  transform: rotate(352deg) translate(-2%, -15%);
}
.sec1_text4 .t4__title span {
  display: inline-block;
}

.sec1_text5 {
  width: 100vw;
  text-align: center;
  font-size: 0;
}
.sec1_text5 img {
  width: 100%;
  height: 100%;
}
.sec1_text5 .t5__title {
  font-size: 20vw;
  line-height: 0.8;
  color: #fff;
  text-transform: uppercase;
  font-family: "Tungsten";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec1_text5 .t5__title span {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.sec1_text5 .t5__title span:before,
.sec1_text5 .t5__title span:after {
  content: "";
  padding: 0.4em 0.4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -webkit-animation: tipsy 10s infinite alternate ease-in-out;
          animation: tipsy 10s infinite alternate ease-in-out;
}
.sec1_text5 .t5__title span:before {
  border-color: #d33d00 #d33d00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}
.sec1_text5 .t5__title span:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d33d00 #d33d00;
  box-shadow: 15px 15px 15px rgba(46, 46, 49, 0.479);
}
@-webkit-keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.card__set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__set .card {
  position: absolute;
  width: 250px;
  height: 375px;
  background: url(../img/card11.jpg) no-repeat center center/cover;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__set .card1 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-50%, -50%);
}
.card__set .card2 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-40%, -50%);
}
.card__set .card3 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-60%, -50%);
}
.card__set .card4 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-50%, -30%);
}
.card__set .card5 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-60%, -60%);
}
.card__set .card6 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-70%, -70%);
}
.card__set .card7 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(-30%, -20%);
}
.card__set .card8 {
  background: url(../img/card11.jpg) no-repeat center center/cover;
  transform: translate(0%, -40%);
}/*# sourceMappingURL=index.css.map */