.scrollTop {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 40px;
	z-index: 1000;
	font-weight: 800;
	color: #fff;
}

.fixed {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#section1 {
	background: #000;
	height: 42000px;
}

.sec1_text1 {
	color: var(--orange);
	text-transform: uppercase;
	font-size: 0;
	text-align: center;
	z-index: 2;
	width: 69vw;
	align-items: center;
	justify-content: center;

	span {
		display: inline-block;
		font-size: 20vw;

		em {
			display: inline-block;
			color: #fff;
		}

		i {
			display: inline-block;
			color: #fff;

			p {
				font-family: 'GmarketSans';
				position: absolute;
				font-size: 1vw;
				white-space: nowrap;
				color: transparent;
				transition: all 0.3s ease-out;
				transform: translate(-50%, -50%);

				&::before {
					content: "우리가 해야 할 일은 끊임없이 호기심을 갖고, 새로운 생각을 시험해보고, 새로운 인상을 받는 것이다.";
					position: absolute;
					overflow: hidden;
					color: #fff;
					animation: typing 1s steps(31);
				}

				@keyframes typing {
					0% {
						width: 0%;
					}

					100% {
						width: 100%;
					}
				}
			}
		}


	}


}

.sec1_video1 {
	z-index: 1;
	width: 100%;
	height: 10%;
	overflow: hidden;

	.vid {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}

.sec1_text2 {
	width: 100vw;
	height: 100%;

	.text2_camera {
		width: 100%;
		height: 100%;
		position: fixed;

		img {
			width: 100%;
			height: 100%;
			//object-fit: cover;
		}

		.text2_frame {
			position: absolute;
			width: 10.3vw;
			height: 14.5vh;
			top: 50%;
			left: 50%;
			background-image: url(../img/sec1bg1_tv2.jpg);
			background-size: cover;
			background-position: center;
			filter: grayscale(70%) blur(0.3px);
			opacity: 1;
			border-radius: 5%;
			transform: translate(-4.7vw, 143%) rotateZ(-0.4deg);
			overflow: hidden;

			&::after {
				content: url(../img/noise1.gif);
				opacity: 0.07;
			}

			.text2_ment {
				position: absolute;
				width: 10vw;
				height: 500px;
				top: 50%;
				left: 50%;
				text-align: center;

				h2 {

					font-size: 6px;
					color: rgba(255, 255, 255, 1);
					font-family: var(--font-sub1);
					line-height: 1.6;
				}

				i {
					font-family: 'UtoImageHand';
					margin-right: 5px;
					float: right;
					font-size: 18px;
				}
			}
		}
	}
}


.sec1_text3 {

	// === Variables =====
	$perspective: 60rem;
	$font-size: 4.25rem;
	$split-position: 49%;
	$split-thickness: 4px;
	$split-color: #fff;

	width: 100vw;
	z-index: 100;
	transform-style: preserve-3d;
	transform: perspective($perspective);

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.text3_link {
		transition: all 0.5s ease-in-out;
		position: absolute;
		font-size: 10vw;
		top: 5vh;
		color: #fff;
		line-height: 0.8;

		.Menu-list-item {
			position: relative;
			color: transparent;
			cursor: pointer;
			width: 100vw;
			display: flex;
			position: relative;
			font-size: 10vw;
			text-indent: 1vw;

			// === Top/bottom Mask =====
			.Mask {
				display: block;
				position: absolute;
				overflow: hidden;
				color: $split-color;
				top: 0;
				height: $split-position;
				transition: all .8s cubic-bezier(.16, 1.08, .38, .98);

				span {
					display: block;
				}
			}

			// === Bottom Mask specific =====
			.Mask+.Mask {
				top: $split-position - 0.1;
				height: 100 - $split-position + 0.1;

				span {
					transform: translateY(-$split-position);
				}
			}

			p {
				transition: all 1s cubic-bezier(.16, 1.08, .38, .98);
				opacity: 0;
				font-family: 'GmarketSans';
				font-weight: 300;
				font-size: 1.6vw;
				position: absolute;
				top: 30px;
				right: 1vw;
				color: #fff;
			}

			i {
				transition: all 1s cubic-bezier(.16, 1.08, .38, .98);
				opacity: 0;
				font-family: 'GmarketSans';
				font-weight: 300;
				font-size: 1.6vw;
				position: absolute;
				bottom: 25px;
				right: 1vw;
				color: #fff;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.5);

				.Mask {
					color: #d33d00;
					transform: skewX(15deg) translateX(3.3vw);
				}

				.Mask+.Mask {
					transform: skewX(15deg) translateX(2vw);
				}

				&::before {
					transform: scale(1);
				}

				p {
					opacity: 1;
				}

				i {
					opacity: 1;
				}
			}

			// === Split Line =====
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: $split-position;
				left: -10%;
				right: -10%;
				height: 2px;
				border-radius: $split-thickness;
				margin-top: -($split-thickness / 2);
				background-color: rgba(255, 255, 255, 0.8);
				transform: scale(0);
				transition: transform 1s cubic-bezier(.16, 1.08, .38, .98);
				z-index: 1;
			}
		}
	}
}

.sec1_text4 {
	width: 100vw;
	text-align: center;
	font-size: 0;
	background: url('../img/noise1.gif') center center;
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: multiply;


	.t4__title {
		text-align: left;
		width: 250vw;
		font-size: 35vw;
		line-height: 0.75;
		transform: rotate(352deg) translate(-2%, -15%);

		span {
			display: inline-block;

			&:nth-child(1) {
				color: #d33d00;

				&::after {
					content: 'asdasf';
					position: absolute;
				}
			}

			&:nth-child(2) {
				color: #fff;


				&::after {
					content: 'asdasf';
					position: absolute;

				}
			}

			&:nth-child(3) {
				color: #d33d00;

				&::after {
					content: 'asdasf';
					position: absolute;

				}
			}
		}


	}
}


.sec1_text5 {
	width: 100vw;
	text-align: center;
	font-size: 0;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
	}

	.t5__title {
		line-height: 1;
		font-size: 20vw;
		color: #fff;
		text-transform: uppercase;
		font-family: "Tungsten";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);


		span {
			color: #fffbf1;
			text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
			font-weight: bold;
			text-decoration: none;
			letter-spacing: -3px;
			margin: 0;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		span:before,
		span:after {
			content: '';
			padding: 16% 23vw;
			position: absolute;
			left: 50%;
			width: 100%;
			top: 50%;
			display: block;
			border: 15px solid #d33d00;
			transform: translateX(-50%) translateY(-50%) rotate(0deg);
			animation: tipsy 10s infinite alternate ease-in-out;
		}

		span:before {
			border-color: #d33d00 #d33d00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
			z-index: -1;
		}

		span:after {
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d33d00 #d33d00;
			box-shadow: 15px 15px 15px rgba(46, 46, 49, 0.479);
		}

		@keyframes tipsy {
			0% {
				transform: translateX(-50%) translateY(-50%) rotate(0deg);
			}

			100% {
				transform: translateX(-50%) translateY(-50%) rotate(360deg);
			}
		}
	}

	.card__set {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.card {
			position: absolute;
			width: 250px;
			height: 375px;
			box-shadow: 0px 0px 2px #222;
			border-radius: 16px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			transform-style: preserve-3d;


		}

		.card1 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card2 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card3 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card4 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card5 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card6 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card7 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}

		.card8 {
			background: url(../img/card11.jpg) no-repeat center center /cover;
		}



	}

	#shuffle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.cardanimation {

			position: absolute;
			width: 300px;
			height: 450px;
			box-shadow: 0px 0px 2px #222;
			border-radius: 16px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			transform: translate(-50%, 0%);
		}

		#one {
			background: url(../img/card1.jpg) no-repeat center center /cover;
			animation-name: shuffle;
			animation-duration: .3s;
			animation-iteration-count: 5;
			z-index: 5;
		}

		#two {
			background: url(../img/card2.jpg) no-repeat center center /cover;

			animation-name: shuffletwo;
			animation-duration: .3s;
			animation-iteration-count: 5;
			animation-delay: .8s;
			z-index: 4;
		}

		#three {
			background: url(../img/card3.jpg) no-repeat center center /cover;

			animation-name: shufflethree;
			animation-duration: .3s;
			animation-iteration-count: 5;
			animation-delay: 1.2s;
			z-index: 3;
		}

		#four {
			background: url(../img/card4.jpg) no-repeat center center /cover;

			animation-name: shufflefour;
			animation-duration: .3s;
			animation-iteration-count: 5;
			animation-delay: 1.6s;
			z-index: 2;
		}

		#five {
			background: url(../img/card5.jpg) no-repeat center center /cover;

			animation-name: shufflefive;
			animation-duration: .3s;
			animation-iteration-count: 5;
			animation-delay: 1.8s;
			z-index: 1;
		}

		#shuffle {
			justify-content: center;
			align-items: center;
		}


		@keyframes shuffle {
			0% {
				transform: translate(0, 0%);
				z-index: 5;
			}

			50% {
				transform: translate(-50%, 0) rotate(8deg);
				z-index: 5;
			}

			100% {
				transform: translate(0, 0);
				z-index: 1;
			}
		}

		@keyframes shuffletwo {
			0% {
				transform: translate(0, 0);
				z-index: 4;
			}

			50% {
				transform: translate(-50%, 0) rotate(-5deg);
				z-index: 4;
			}

			100% {
				transform: translate(0, 0);
				z-index: 8;
			}
		}

		@keyframes shufflethree {
			0% {
				transform: translate(0, 0);
				z-index: 3;
			}

			50% {
				transform: translate(50%, 0);
				z-index: 1;
			}

			100% {
				transform: translate(0, 0);
				z-index: 10;
			}
		}

		@keyframes shufflefour {
			0% {
				transform: translate(0, 0);
				z-index: 4;
			}

			50% {
				transform: translate(-50%, 0) rotate(-3deg);
				z-index: 1;
			}

			100% {
				transform: translate(0, 0);
				z-index: 14;
			}
		}

		@keyframes shufflefive {
			0% {
				transform: translate(0, 0);
				z-index: 3;
			}

			50% {
				transform: translate(50%, 0) rotate(4deg);
				z-index: 1;
			}

			100% {
				-webkit-transform: translate(0, 0);
				transform: translate(0, 0);
				z-index: 16;
			}
		}
	}

}


.sec1_text6 {
	font-size: 0;

	.glitch {
		color: white;
		font-size: 100px;
		position: relative;
		width: 180px;
		margin: 0 auto;
		line-height: 1;
	}

	@keyframes noise-anim {
		$steps: 24;

		@for $i from 0 through $steps {
			#{percentage($i*(1/$steps))} {
				clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			}
		}
	}

	.glitch:after {
		content: attr(data-text);
		position: absolute;
		left: 2px;
		text-shadow: -1px 0 red;
		top: 0;
		color: white;
		background: black;
		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim 2s infinite linear alternate-reverse;
	}

	@keyframes noise-anim-2 {
		$steps: 24;

		@for $i from 0 through $steps {
			#{percentage($i*(1/$steps))} {
				clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			}
		}
	}

	.glitch:before {
		content: attr(data-text);
		position: absolute;
		left: -2px;
		text-shadow: 1px 0 blue;
		top: 0;
		color: white;
		background: black;
		overflow: hidden;
		clip: rect(0, 900px, 0, 0);
		animation: noise-anim-2 3s infinite linear alternate-reverse;
	}
}


.sec1_text7 {
	width: 100vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0;
	z-index: 2;

	.t7__inner {
		display: flex;
		font-size: 8vw;
		line-height: 0.8;
		color: #d33d00;
		text-transform: uppercase;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 100vh;
		text-align: center;

		.left {
			width: 100%;
			position: relative;
			display: flex;

			.leftImg {
				position: absolute;
				height: 100%;
			}
		}

		.right {
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: row-reverse;

			.rightImg {
				position: absolute;
				height: 100%;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.t7_title_left {
			font-size: 10vw;
			line-height: 0.8;
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			color: #fff;

			div {
				span {
					text-shadow: none;
					-webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
					color: #fff;
				}

				p {
					line-height: 0.8;
					font-family: 'Tungsten-Semibold';
					width: 9vw;
					font-size: 1.4vw;
					color: #fff;
					border: 1px solid rgba(255, 255, 255, 0.8);
					border-radius: 3vw;
					padding: 1.3vh 1.5vw;
					margin: 1.5vh 9vw;
					font-weight: 100;

					&:hover {
						background-color: #fff;
						color: #d33d00;
						cursor: pointer;
					}
				}
			}
		}

		.t7_title_right {
			font-size: 10vw;
			line-height: 0.8;
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			color: #fff;


			div {
				span {
					text-shadow: none;
					-webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
					color: #fff;
				}

				p {
					line-height: 0.8;
					font-family: 'Tungsten-Semibold';
					width: 9vw;
					font-size: 1.4vw;
					color: #fff;
					border: 1px solid rgba(255, 255, 255, 0.8);
					border-radius: 3vw;
					padding: 1.3vh 1.5vw;
					margin: 1.5vh 9vw;

					&:hover {
						background-color: #fff;
						color: #d33d00;
						cursor: pointer;
					}
				}
			}


		}
	}
}


.sec1_text8 {
	width: 100vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0;
	z-index: 1;

	img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}

	video {
		border: 0.5vw solid #000;
		border-radius: 15px;
		filter: blur(2px) grayscale(100%);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -60%);

		source {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.t8__title {
		text-shadow: none;
		-webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
		color: #fff;
		text-transform: uppercase;
		font-family: "Tungsten";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -60%);

		p {
			font-size: 14vw;
			line-height: 0.8;
		}
	}

	.t8__sub {

		text-transform: uppercase;
		font-family: "Tungsten";
		position: absolute;
		transform: translate(-50%, -50%);
		bottom: 5%;
		left: 50%;
		justify-content: space-between;
		width: 30vw;
		display: flex;

		div {

			line-height: 1.2;
			font-family: 'Tungsten-Semibold';
			font-size: 2.2vw;
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 2vw;
			width: 9vw;

			&:hover {
				background-color: #fff;
				color: #d33d00;
				cursor: pointer;
			}
		}
	}
}

.sec1_text9 {
	width: 100vw;
	height: 100vh;
	background: url('../img/noise.gif') center center;

	//background-blend-mode: multiply;
	.contact {
		position: absolute;
		width: 30vw;
		height: 600px;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 15px;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 5vw;
		text-transform: uppercase;
		text-align: center;
		color: #fff;

		p {
			font-size: 3vw;
		}

		input {
			text-align: center;
			border-radius: 10px;
			width: 10vw;
		}
	}

	.footer {
		display: flex;
		position: absolute;
		line-height: 0.77;
		width: 100vw;
		height: 100px;
		background: rgba(0, 0, 0, 1);
		z-index: 10;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 7vw;
		text-transform: uppercase;
		color: #fff;
		align-items: center;
		text-align: left;
		overflow: hidden;

		span {
			width: 300%;
			height: 100px;
		}
	}

	#webgl {
		position: absolute;
		left: 50%;
		top: 50%;
		background: radial-gradient(circle farthest-corner at center center, #07102175, #19324a7a);
	}
}