.scrollTop {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	line-height: 40px;
	z-index: 1000;
	font-weight: 800;
	color: #fff;
}

.fixed {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#section1 {
	background: #000;
	height: 30000px;
}

.sec1_text1 {
	color: var(--orange);
	text-transform: uppercase;
	font-size: 0;
	text-align: center;
	line-height: 0.8;
	z-index: 2;
	width: 69vw;

	span {
		display: inline-block;
		font-size: 20vw;

		em {
			display: inline-block;
			color: #fff;
		}

		i {
			display: inline-block;
			color: #fff;
		}
	}
}

.sec1_video1 {
	z-index: 1;
	width: 100%;
	height: 10%;
	overflow: hidden;

	.vid {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
	}
}

.sec1_text2 {
	width: 100vw;
	height: 100%;

	.text2_camera {
		width: 100%;
		height: 100%;
		position: fixed;

		img {
			width: 100%;
			height: 100%;
			//object-fit: cover;
		}

		.text2_frame {

			position: absolute;
			width: 10.3vw;
			height: 14.5vh;
			top: 50%;
			left: 50%;
			background-image: url(../img/sec1bg1_tv2.jpg);
			background-size: cover;
			background-position: center;
			filter: grayscale(70%) blur(0.3px);
			opacity: 1;
			border-radius: 5%;
			transform: translate(-4.7vw, 143%) rotateZ(-0.4deg);
			overflow: hidden;

			&::after {
				content: url(../img/noise1.gif);
				opacity: 0.07;
			}

			.text2_ment {
				position: absolute;
				width: 10vw;
				height: 500px;
				top: 50%;
				left: 50%;

				h2 {
					font-size: 6px;
					color: rgba(255, 255, 255, 1);
					font-family: var(--font-sub1);
					margin: 0 0.4vw;
					line-height: 2;
				}
			}
		}
	}
}

.sec1_text3 {
	width: 100vw;
	z-index: 100;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.text3_link {
		transition: all 0.5s ease-in-out;
		position: absolute;
		font-size: 10vw;
		top: 5vh;
		color: #fff;
		line-height: 0.8;

		>div {
			width: 100vw;
			display: flex;
			position: relative;

			h2 {
				font-size: 10vw;
				text-indent: 1vw;
				cursor: pointer;
			}

			p {
				transition: all 0.3s ease;
				opacity: 0;
				font-family: 'GmarketSans';
				font-weight: 300;
				font-size: 1.6vw;
				position: absolute;
				bottom: 1vw;
				right: 1vw;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.5);
			}

			&:hover h2 {
				color: #d33d00;
			}

			&:hover p {
				opacity: 1;
			}
		}
	}
}


.sec1_text4 {
	width: 100vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0;
	opacity: 0;
}

.sec1_text4 img {
	width: 100%;
	height: 100%;

}

.sec1_text4 .t4__title {
	font-size: 20vw;
	line-height: 0.8;
	color: #d33d00;
	text-transform: uppercase;
	font-family: "Tungsten";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card__set {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card__set img {
	width: 300px;
	height: 450px;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;

}

.card__set img:nth-child(1) {
	transform: translate(-50%, -50%) rotate(40deg)
}

.card__set img:nth-child(2) {
	transform: translate(-50%, -50%) rotate(30deg)
}

.card__set img:nth-child(3) {
	transform: translate(-50%, -50%) rotate(20deg)
}

.card__set img:nth-child(4) {
	transform: translate(-50%, -50%) rotate(10deg)
}

.card__set img:nth-child(5) {
	transform: translate(-50%, -50%) rotate(0)
}

.card__set img:nth-child(6) {
	transform: translate(-50%, -50%) rotate(-10deg)
}

.card__set img:nth-child(7) {
	transform: translate(-50%, -50%) rotate(-20deg)
}

.card__set img:nth-child(8) {
	transform: translate(-50%, -50%) rotate(-30deg)
}